body .ui-table .ui-table-caption, body .ui-table .ui-table-summary {
  border: 1px solid #c8c8c8;
  padding: 0.571em 1em;
  text-align: left!important;
}

.no-overflow-div {
  overflow: hidden;
  height: 450px;
}

@media screen and (min-width: 40.063em) {
  .titleDIV {
    text-align: right;
    font-weight: bold;
    margin-top: .5em;
  }
}

@media not screen and (min-width: 40.063em) {
  .titleDIV {
    text-align: left;
    font-weight: bold;
  }
}

div {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

div>>>.ui-datepicker {
  margin: 0em;
}

div>>>.ui-datepicker table {
  margin: 0em;
}

div>>>.ui-datepicker table td {
  padding: 0em;
}

p-panel>>>.ui-panel {
  min-width: 800px;
}

p-dialog>>>.ui-dialog {
  max-width: 700px;
  min-width: 280px;
}

p-dialog>>>.ui-calendar {
  max-width: 300px;
}

p-dialog>>>.ui-inputtext {
  max-width: 300px;
}

.textleft {
  text-align: left!important;
}

.buttonFirst {
  margin-right: 1em;
}

.colDateStyle1 {
  text-align: left;
}

.colNumberStyle1 {
  text-align: right;
}