<p-panel>
    <p-header>
        <div class="ui-helper-clearfix">
            <div style="float: left;">
                <span class="ui-panel-title" style="font-size:16px;display:inline-block;margin-top:2px">日程</span>
            </div>
            <div style="float: right;   ">
                <p-splitButton label="テストDummy" icon="pi pi-check" (onClick)="save()"
                    [model]="menuItem" class="buttonFirst"></p-splitButton>
                <p-button icon="pi pi-check" iconPos="left" label="行追加" (click)="addNewLine()" ></p-button>
            </div>
        </div>
    </p-header>
    <p-table [columns]="cols" [value]="items" selectionMode="single" [(selection)]="item">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th>
                    更新
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item let-columnsData="columns" let-i="rowIndex">
            <tr [pSelectableRow]="item">
                <td *ngFor="let col1 of columnsData">
                    {{item[col1.field]}}
                </td>
                <td>
                    <p-button label="更新" icon="pi pi-info pi-info-circle" iconPos="left"
                        (click)="showSelectedData(item, i)"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-footer>
    </p-footer>
</p-panel>
<p-dialog header="詳細情報" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true"
    resizable="true">
    <div class="ui-g ui-fluid no-overflow-div" *ngIf="itemSelected">
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <span>startdate</span>
            </div>
            <div class="ui-g-8">
                <p-calendar [(ngModel)]="itemSelected.startdate" dateFormat="yy-mm-dd" [showIcon]="true" dataType="string"
                [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRage" autoZIndex="true"></p-calendar>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <span>enddate</span>
            </div>
            <div class="ui-g-8">
                <p-calendar [(ngModel)]="itemSelected.enddate" dateFormat="yy-mm-dd" [showIcon]="true" dataType="string"
                [monthNavigator]="true" [yearNavigator]="true" [yearRange]="yearRage" autoZIndex="true"></p-calendar>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <label for="costmoney">costmoney</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="costmoney" [(ngModel)]="itemSelected.costmoney" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <label for="placename">placename</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="placename" [(ngModel)]="itemSelected.placename" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <label for="hotel">hotel</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="hotel" [(ngModel)]="itemSelected.hotel" />
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-4 titleDIV">
                <label for="menber">menber</label>
            </div>
            <div class="ui-g-8">
                <input pInputText id="menber" [(ngModel)]="itemSelected.menber" />
            </div>
        </div>
    </div>
    <p-footer>
        <div class="ui-dialog-buttonpane ui-helper-clearfix">
            <p-button icon="pi pi-check" (click)="saveData()" label="保存"></p-button>
        </div>
    </p-footer>
</p-dialog>